<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <section class="hero is-medium is-primary is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              My Pantry
            </h1>
            <h2 class="subtitle">
             Mission: Keep track of what food you have and when it expires.
            </h2>
          </div>
        </div>
      </section>
    <main class="is-primary">
      <% if (isAuthenticated) { %>
        <a class=" button is-primary" href="/add-item">add an item</a>
        <a class=" button is-primary" href="/item/items">View my pantry</a>
        <a class=" button is-primary" href="/shopping-list">View my Shopping list</a>

      <% } else {%>
        <a class=" button is-primary" href="/login">login to use the app</a>
      <% } %> 
        
       
    </main>
<%- include('../includes/end.ejs') %>